fastapi
uvicorn[standard]
sqlalchemy
alembic
pydantic
python-jose[cryptography]
passlib[bcrypt]
requests
httpx
python-multipart
psycopg2-binary
gunicorn
pydantic-settings
fastapi-mail
google-auth
google-auth-oauthlib
python-dotenv
python-json-logger
openai

